USE [master]
GO
/****** Object:  Database [BDJURIDICO]    Script Date: 31/01/2023 10:38:59 ******/
CREATE DATABASE [BDJURIDICO]
  
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDJURIDICO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDJURIDICO]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 31/01/2023 10:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ESTID] [int] IDENTITY(1,1) NOT NULL,
	[ESTDESCRICAO] [varchar](100) NOT NULL,
	[ESTSIGLA] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([ESTID], [ESTDESCRICAO], [ESTSIGLA]) VALUES (1, N'SERGIPE', N'SE')
INSERT [dbo].[ESTADO] ([ESTID], [ESTDESCRICAO], [ESTSIGLA]) VALUES (6, N'SAO PAULO', N'SP')
INSERT [dbo].[ESTADO] ([ESTID], [ESTDESCRICAO], [ESTSIGLA]) VALUES (7, N'RORAIMA', N'RR')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ESTADO__470FF64000EB759E]    Script Date: 31/01/2023 10:38:59 ******/
ALTER TABLE [dbo].[ESTADO] ADD UNIQUE NONCLUSTERED 
(
	[ESTSIGLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
